# Lambda Functions ( Anonymous Functions)

Actually, we donâ€™t always need lambda but there are certain situations where it makes writing code a bit easier, and the written code a bit cleaner.For example cases when 
* The function is fairly simple
* The function is going to be used only once.

* Simple 1 line functions
* Do not use def keyword 
* do not use return keyword

In [1]:
# Regular functions

In [2]:
cube(9)

NameError: name 'cube' is not defined

## Lambda expression with single input

In [3]:
#single input x
lambda x : x**3

In [4]:
#assign the function a name in order to use it
lambda_cube=lambda x:x**3

In [5]:
#call the function and pass the argument
lambda_cube(8)

512

## Lambda expression with multiple input values

In [6]:
#create a lambda function that combines first name and last name and returns full name 
fullname_lambda= lambda first_name,last_name : first_name+" "+ last_name

In [7]:
#call the lambda function and pass the arguments
fullname_lambda('Sachin','Tendulkar')

'Sachin Tendulkar'

### Few more examples

In [8]:
sportsman=['Sachin Tendulkar','Rohit Sharma','Virendra Sehwag','Virat Kohli','Yuvraj Singh','M S Donhi','Suresh Raina']

In [9]:
#create a lambda function that sorts the values based on first name in sportsman list
def sort_list(name_list):
    firstname=[]
    name_list.sort(key=lambda name:name.split(",")[0].lower())
    for i in name_list:
        
        print(i.split(" ")[0])
    
    return name_list

In [10]:
sort_list(sportsman)

M
Rohit
Sachin
Suresh
Virat
Virendra
Yuvraj

['M S Donhi',
 'Rohit Sharma',
 'Sachin Tendulkar',
 'Suresh Raina',
 'Virat Kohli',
 'Virendra Sehwag',
 'Yuvraj Singh']

In [11]:
def quadratic_equation(a,b,c):
    """ 
    This function returns the value f(x) = ax^2 + bx +c
    
    """
    return lambda x: a*x*x + b*x + c

In [12]:
f=quadratic_equation(2,3,4)

In [13]:
f(3)

31

Note : If we dont want to give the name to the function , we can pass the argument as well

In [23]:
quadratic_equation(2,3,4)(3)

31

### Lambda with if Condition

In [24]:
#create a lambda expression that returns max value between two numbers
max_func=lambda x,y:x if x>y else y

In [25]:
max_func(4,5)

5

In [26]:
max_func(200,500)

500

# Map

* Map function applies particular function on each element of the list.
* The parameter that it accepts are a function and a list 
* Returns a modified list

In [14]:
#create a list on which the function would be applied
num_list=[1,2,3,4,5]

In [15]:
#create a function that needs to be mapped to each value of the list
def cube(x):
    return x**3

In [16]:
#use map to apply the cube function on num_list values
cube_list=list(map(cube,num_list))

In [17]:
cube_list

[1, 8, 27, 64, 125]

### Few more examples

In [36]:
#create a list with names 
sportsman=['Sachin Tendulkar','Rohit Sharma','Virendra Sehwag','Virat Kohli','Yuvraj Singh','M S Donhi','Suresh Raina']

In [37]:
#define a function to print full name if length of name is even  else only initial letter
def odd_even(name):
        if len(name)%2 ==0:
            return name
        else:
            return name[0]

In [38]:
vowel_list=list(map(odd_even,sportsman))

In [39]:
vowel_list

['Sachin Tendulkar',
 'Rohit Sharma',
 'V',
 'V',
 'Yuvraj Singh',
 'M',
 'Suresh Raina']

In [18]:
### Use Lambda and map togther
num_list=[1,2,3,4,5]
list(map(lambda x:x*x,num_list))

[1, 4, 9, 16, 25]

# Filter

* Can be used only for functions which return Boolean values ( True or False)
* Filters the items out of a list
* Returns filtered list

The parameter that it accepts are 
* List
* Function/conditon

In [40]:
#create a list 
numbers=[1,2,3,4,5,6,7,8,9,10]

In [41]:
#define a function to mention the conditon (returns only even numbers)
def even(x):
    if x%2==0:
        return x
    else:
        return None

In [21]:
#define a function to mention the conditon (returns only even numbers)
def even(x):
    if x%2==0:
        return True
    else:
        return False

In [42]:
#apply filter on the list
list(filter(even,numbers))

[2, 4, 6, 8, 10]

In [43]:
### Use filter with lambda
list(filter(lambda x:x if x%2 ==0 else None,numbers))

[2, 4, 6, 8, 10]

##  Arguments (*args)

In [44]:
#create simple function with positional arguments 

def five_percent(a,b):
    
    # a,b are called positional arguments 
    """
    
    DOCSTRING : This function returns 5 % value of total sum of input
    
    INPUT : Integer values
    
    OUTPUT :  5 % of total input values
    
    """
    val=sum((a,b))*0.05
    
    return val

In [48]:
five_percent(1000,750,500)

TypeError: five_percent() takes 2 positional arguments but 3 were given

In [49]:
#create simple function with arbitary arguments 

def five_percent(*args):
    
    
    """
    
    DOCSTRING : This function returns 5 % value of total sum of input
    
    INPUT : Integer values
    
    OUTPUT :  5 % of total input values
    
    """
    val=sum((args))*0.05
    
    return val

In [51]:
#use the function by passing any number of arguments
five_percent(300,500,100)

45.0

## Generators

In [52]:
num=[1,2,3,4,5]

In [53]:
def square(num):
    squared=[]
    for i in num:
        squared.append(i*i)
    return squared

In [54]:
square(num)

[1, 4, 9, 16, 25]

### Using Generator

In [62]:
def square(num):
        yield (num**2)

* Yield is the keyword to indicate that its a generator object instead of   using return for a typical function. 

* Generators don't hold the entire result in the memory . It yields one result at a time

In [65]:
next(square(9))

81

In [57]:
my_num=square(num)

###### Next is the keyword to access the next element in generator

In [60]:
print(next(my_num))

9

We can also make use of loops to access subsequent elements in generator

In [61]:
for i in my_num:
    print(i)

16
25